body{
  margin: 10px;
  padding: 10px;
}

header{
  background-image: url('../images/flywheel.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

h1{
  font-size: 250%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

nav{
  padding: 10px;
  height: 100px;
}

nav a{
  background: rgba(255,255,255, 0.5);
  color: #000000;
  text-decoration: none;
  font-size: 150%;
  padding-left:  60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  display: inline-block;
  height: 30px;
  width: 150px;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.active{
  color: #00B7EA;
  background: #ffffff;
}

.left {
    width: 15%;
    height: 15%;
    display: inline-block;
    background: #527219;
    padding: 2%;

}
.left img {
    border: 2px solid #000;
    width: 85%;
    height: 85%;
    float:left;
    margin-bottom: 30px;
    clear : left;
}

.right {
    float: right;
    width: 80%;
}


h2{
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
}

table{
  box-sizing: border-box;
  width: 60%;
  height: 60%;
  margin-left: 30px;
  font-size: 105%;
}

table th{
  background: darkgreen;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px;
  border-bottom: 3px solid #000000;
  font-weight: bold;
}

table td{
  background: lightgreen;
  text-align: center;
  padding: 8px;
  font-size: 105%;
}

th:first-child{
  text-align: left;
}

td:first-child{
  text-align: left;
}
tr{
  opacity: 0.8;
}

tr:hover{
  opacity: 1;
}
